<% provide :title, @title %>

<div class="row">
	<div class="span8 offset2">
		<h1><%= @title %></h1>
		<% if params[:action] == "index" %>
			<%= link_to "+ New recipe", new_recipe_path, class: "pull-right" %>
		<% end %>
		<%= form_tag({ controller: params[:controller], action: params[:action] }, 
				             { method: "get", id: "recipes_search", class: "search_form" }) do %>
			<%= render 'shared/search_form' %>
			<div class="table" id="recipes">
				<%= render 'recipes_table' %>
			</div>
		<% end %>
	</div>
</div>