<% provide :title, @user.username %>

<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.username %>
			</h1>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
		<section>
			<%= render 'follow_form' if signed_in? %>
		</section>
	</aside>
	<div class="span8">
		<div class="table" id="home_menu">
			<div class="home_menu_item">
				<h1><%= link_to "Recipes", user_recipes_path(@user) %></h1>
			</div>
			<div class="home_menu_item">
				<h1><%= link_to "Activity", user_microposts_path(@user), remote: true %></h1>
			</div>
		</div>
	</div>
</div>
