<div class="food_stats table_row" id="food_<%= food.id %>">
	<% if current_user.admin? %>
		<span>
			<div class="dropdown">
				<a href="#", id="fat-menu" class="dropdown-toggle" data-toggle="dropdown">
					<%= food.name %><b class="caret"></b>
				</a>
				<ul class="dropdown-menu pull-left">
					<li><%= link_to 'Show', food %></li>
					<li><%= link_to 'Edit', edit_food_path(food) %></li>
					<li><%= link_to 'Delete', food_path(food), method: :delete %></li>
				</ul>
			</div>
		</span>
	<% else %>
		<span><%= link_to food.name, food %></span>
	<% end %>
	<span><%= food.calories %></span>
	<span><%= food.carbs %></span>
	<span><%= food.protein %></span>
	<span><%= food.fat %></span>
</div>