<%= render 'shared/error_messages', object: f.object %>

<div id="foods" class="table">
	<div class="table_row">
		<span><%= f.label :name, "Name" %></span>
		<span><%= f.label :calories, "Calories (kcal)" %></span>
		<span><%= f.label :carbs, "Carbs (g)" %></span>
		<span><%= f.label :protein, "Protein (g)" %></span>
		<span><%= f.label :fat, "Fat (g)" %></span>
	</div>
	<div class="table_row">
	  <span><%= f.text_field :name %></span>
	  <span><%= f.text_field :calories %></span>
	  <span><%= f.text_field :carbs %></span>
	  <span><%= f.text_field :protein %></span>
	  <span><%= f.text_field :fat %></span>
	</div>
</div>